.compSuccessToast__main{
    min-height: 75px;
    max-width: 300px;

    position: absolute;
    right: 0%;
    transform: translate(-15px, calc(-100% - 15px));

    padding: 0px 25px;
    display: flex;
    align-items: center;
    gap: 10px;

    background-color: #28a745;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-in-out;
    animation: 1.5s showSuccessToast forwards;
}

@keyframes showSuccessToast{
    0%{
        opacity: 0;
        top: 50%;
    }
    100%{
        opacity: 1;
        top: 100%;
    }
}

.compSuccessToast__close{
    position: absolute;
    top: 7px;
    right: 5px;
    
    display: none;
    align-self: start;

    cursor: pointer;
    color: rgba(255, 255, 255, 0.7); 
}

.compSuccessToast__close:hover{
    color: white;
}

.compSuccessToast__main:hover .compSuccessToast__close{
    display: inline;
}