.tables__main{
    display: flex;
    flex-direction: column;
    flex: 1;

    font-size: 1.6;
}

.tables__title{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 2.4rem;
    font-weight: 600;

    color: var(--primary-color-dark);
}

.tables__header{
    padding: 10px;
    display: flex;
    justify-content: space-between
}

.tables__header--search{
    padding: 5px;

    display: flex;
    align-items: center;
    gap: 10px;

    border: 2px solid var(--primary-border-color);
    border-radius: 8px;
}

.tables__header--add{
    margin-right: 20px;
    padding: 7px 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
    color: var(--primary-color);
    border-radius: 5px;
}

.tables__header--add:hover{
    color: var(--primary-text-color);
}

.tables__header--search input{
    width: 100px;
    border: none;
    outline: none;
}

.tables__content{
    height: calc(100vh - 220px); /* Total Screen size - relative height */
    padding: 10px;

    display: flex;
    /* flex: 1; */
    overflow-y: scroll;
}

.tables__content::-webkit-scrollbar {
    width: 8px;
}

.tables__content::-webkit-scrollbar-track {
    background: transparent;
}

.tables__content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-scroll-color);
}

.tables__namesBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.tables__names{
    padding: 10px 15px;

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    background-color: var(--primary-background-color-light);
    border-radius: 8px;
}

.tables__names--delete{
    margin-left: 25px;
    
    color: white;
    cursor: pointer;
    color: var(--primary-color);
    border-radius: 5px;
}

.tables__names--delete:hover{
    color: var(--secondary-color);
}

.tables__names--delete:active{
    color: var(--primary-color-dark);
}

.tables__dropdown{
    padding: 10px 15px;
    
    display: flex;
    flex-direction: column;

    background-color: var(--primary-background-color);
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.tables__dropdown--item{
    padding: 7px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
}

.tables__dropdown--item:hover{
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.tables__createTable--show{
    display: flex !important;
}

.tables__createTable{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
}

.tables__createTable--main{
    height: 80vh;
    width: 70vw;
    padding: 50px;

    display: flex;
    flex-direction: column;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    box-shadow: 0px 0px 10px 0px var(--primary-border-color);
    border-radius: 10px;
}

.tables__createTable--close{
    margin-top: -30px;
    margin-right: -30px;
    display: flex;
    justify-content: flex-end;
}

.tables__createTable--close svg:hover{
    color: var(--primary-color-light);
}

.tables__createTable--close svg:active{
    color: var(--primary-color);
}

.tables__createTable--logo{
    align-self: center;
}

.tables__createTable--title{
    padding-bottom: 15px;
    align-self: center;
}

.tables__createTable input{
    padding: 10px;
    outline: none;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
}

.tables__createTable select, .tables__createTable option{
    padding: 10px;
    outline: none;
    border: 1px solid var(--primary-border-color);
    border-radius: 5px;
}

.tables__createTable--add{
    width: 45px;
    height: 40px;
    margin-top: 15px;

    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;

    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.tables__createTable--add:hover{
    color: var(--primary-text-color);
    background-color: var(--primary-color-light);
}

#id_tables__createTable--name{
    max-width: 150px;
}

.tables__createTable--fields{
    margin-top: 5px;
    overflow: scroll;
}

.tables__createTable--fields::-webkit-scrollbar {
    width: 3px;
}

.tables__createTable--fields::-webkit-scrollbar-track {
    background: transparent;
}

.tables__createTable--fields::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: var(--primary-scroll-color);
}

.createTable__fields{
    margin-top: 20px;
    
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
}

.createTable__fields--title{
    font-weight: 600;
    color: var(--primary-color-dark);
    align-self: center;
}

.tables__createTable--field{
    padding: 15px;

    display: flex;
    flex-direction: column;
    gap: 5px;

    border-radius: 15px;
    border: 1px solid var(--primary-border-color);
}

.tables__createTable--field svg{
    align-self: end;
}

@media screen and (max-width: 768px){
    .tables__createTable--main{
        width: 100vw;
    }
}