.main{
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container{
    width: 500px;
    height: 600px;

    display: flex;
    flex-direction: column;

    align-items: center;

    box-shadow: 0px 0px 10px 0px #80808057;
    background-color: var(--secondary-background-color);
}

.main__logo{
    padding: 50px 0px;
}

.main__title{
    font-size: 2.7rem;
}

.main__form{
    padding: 25px 0px;

    display: flex;
    flex-direction: column;
}

input{
    margin: 10px 0px;
    padding: 10px;
    font-size: 1.6rem;

    outline: none;
    border-radius: 7px;
    border: 2px solid #80808057;
}

.main__dividerBox{
    width: 218px !important;
}

.main__dividerLine{
    background-color: #80808057 !important;
}

.main__dividerText{
    margin: 0px 10px;
    font-size: 1.2rem;
}