.home__indexbar{
    width: auto;
    min-width: 180px;
    padding: 10px;

    background-color: var(--primary-background-color);

    transition: all 1s ease-in-out;
}

@media screen and (max-width: 768px){
    .home__indexbar{
        position: absolute;
        height: 100vh;
    }
}