.home__indexbar{
    background-color: var(--primary-background-color);
    transition: all 700ms ease-in-out;
}

@media (max-width: 768px) {
    .home__indexbar{
        width: 0px;
        opacity: 0;
        padding: 0px;
    }
}